@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500;700&display=swap');

:root {
    --red: #E50914;
    --back: #141414;
}

body {
    background: var(--back);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-family: 'Bebas Neue';
    color: var(--red);
    font-size: 60px;
    margin-left: 20px;
    margin-top: 15px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF
}

.main-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../assets/this-is-us-banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    height: 650px;
}

.main-movie .description {
    margin-bottom: 40px;
}

.title {
    font-size: 40px;
}